{% extends 'base.html' %}{% block corpo %}{% load static %}
<div class="row clearfix">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="widget bg-danger">
      <div class="widget-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="state">
            <h6>Número de Processos<br /></h6>
            <h2>1000</h2>
          </div>
          <div class="icon">
            <i class="ik ik-trending-up"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="widget bg-dark">
      <div class="widget-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="state">
            <h6>Processos Pendente</h6>
            <h2>300</h2>
          </div>
          <div class="icon">
            <i class="ik ik-file"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="widget bg-warning">
      <div class="widget-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="state">
            <h6>Aprovados</h6>
            <h2>592</h2>
          </div>
          <div class="icon">
            <i class="ik ik-send"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="widget bg-primary">
      <div class="widget-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="state">
            <h6>Actividades</h6>
            <h2>200</h2>
          </div>
          <div class="icon">
            <i class="ik ik-trending-up"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {% if sucesso %}
    <script language="JavaScript">
      $(function () {
        showSuccessToast();
      });
    </script>
    {% endif %}
  </div>
</div>

{% endblock %}
